@import url(https://fonts.bunny.net/css?family=alkatra:700);
@import url(https://fonts.bunny.net/css?family=nunito:500);

:root {
    --clr-light: #fafafa;
    --clr-dark: #121212;
    --clr-accent: rgba(180, 120, 20, 1);
    --clr-accent-hover: rgba(220, 160, 60, 1);
    --clr-border: #eaeaea;
    --clr-heading: rgba(90, 60, 40, 1);
    --clr-radio: white;

    --background: var(--clr-light);
    --foreground: var(--clr-dark);
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-accent: rgba(200, 140, 20, 1);
        --clr-accent-hover: rgba(160, 100, 0, 1);
        --clr-border: #242424;
        --clr-heading: rgba(150, 110, 90, 1);
        --clr-radio: black;

        --background: var(--clr-dark);
        --foreground: var(--clr-light);
    }
}

:root:has(#light:checked) {
    --clr-accent: rgba(180, 120, 20, 1);
    --clr-accent-hover: rgba(220, 160, 60, 1);
    --clr-border: #eaeaea;
    --clr-heading: rgba(90, 60, 40, 1);
    --clr-radio: white;

    --background: var(--clr-light);
    --foreground: var(--clr-dark);
}
:root:has(#dark:checked) {
    --clr-accent: rgba(200, 140, 20, 1);
    --clr-accent-hover: rgba(160, 100, 0, 1);
    --clr-border: #242424;
    --clr-heading: rgba(150, 110, 90, 1);
    --clr-radio: black;

    --background: var(--clr-dark);
    --foreground: var(--clr-light);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

body {
    font-family: Verdana, sans-serif;
    padding: 32px 0;
    margin: auto;
    width: 90%;
    background: var(--background);
    color: var(--foreground);
}

h1 {
    font-family: 'Alkatra', display;
    color: var(--clr-heading);
    text-align: center;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 16px;
}

.theme-picker {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.theme-picker input[type="radio"] {
    appearance: none;
}

label {
    background-color: var(--clr-border);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    border: 2px solid var(--clr-border);
    transition-property: background-color, color;
    transition-duration: 300ms;
}
label:hover {
    background-color: var(--clr-accent);
}
label:has(input[type="radio"]:active),
label:has(input[type="radio"]:checked) {
    background-color: var(--clr-radio);
    color: var(--clr-accent);
    transition-duration: 150ms;
}
span {
    font-size: 16px;
}
svg {
    width: 24px;
    margin-right: 8px;
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-row-gap: 64px;
    grid-column-gap: 48px;
    padding-inline-start: unset;
}
.recipe-list li {
    list-style: none;
}
.recipe-list li .animation-effect {
    border: 1px solid var(--clr-border);
    transition-property: transform, box-shadow, color;
    transition-duration: 300ms;
    height: 100%;
}
@media (hover: hover) {
    .recipe-list li:hover .animation-effect {
        color: var(--clr-accent);
        transform: translate(-5px, -5px) scale(1.05);
        box-shadow: 10px 10px var(--clr-accent);
        clr-border: var(--clr-accent);
    }
}
.recipe-list li:active .animation-effect {
    box-shadow: 2px 2px var(--clr-accent);
    transform: translate(-2px, -2px);
}
.recipe-list a {
    text-decoration: none;
    color: var(--foreground);
}
.recipe-list li:hover a {
    color: var(--clr-accent);
}
.recipe-list img {
    width: 100%;
}
.recipe-list p {
    font-size: 24px;
    padding: 12px;
}

h2 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 12px;
    color: var(--clr-heading);
}

div.recipe {
    margin: auto;
    width: 95%;
    max-width: 700px;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 800px;
}
.recipe img {
    margin-bottom: 28px;
    transition: transform 300ms;
}
.recipe img:hover {
    transform: scale(1.1);
}
.img-container {
    overflow: clip;
}

ul, ol {
    align: center;
}
ul {
    padding-inline-start: 32px;
}
ol {
    list-style-position: inside;
    counter-reset: step;
    list-style-type: none;
}
li::marker,
li::before {
    color: var(--clr-accent);
}
ol li::before {
    content: "Step " counter(step);
    counter-increment: step;
}
ol li p {
    margin-bottom: 16px;
}
ol img {
    transform-origin: 50% 50%;
}

a {
    color: var(--clr-accent);
    transition: color 200ms;
}
a:hover {
    color: var(--clr-accent-hover);
}

.back-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 32px;
}
