*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background-color: rgba(255, 250, 235, 1);
    font-family: Verdana, sans-serif;
    padding: 32px 0;
    margin: auto;
    width: 90%;
    max-width: 1000px;
}

img {
    margin: auto;
    display: block;
    border-radius: 10px;
    width: 80%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 48px;
    padding-bottom: 24px;
}
h2 {
    font-size: 28px;
    padding: 20px 0 8px;
}

div {
    border-radius: 20px;
    margin: auto;
}

ul, ol {
    align: center;
    padding-inline-start: 32px;
}
li {
    padding: 4px 0;
}

a {
    color: rgba(180, 120, 10, 1);
}
